%Roboto-Regular-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%Roboto-Medium-500 {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%Lexend-Regular-400 {
  font-family: "Lexend-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%Lexend-Medium-500 {
  font-family: "Lexend-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}


%Lexend-SemiBold-600 {
  font-family: "Lexend-SemiBold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

%DMSans-Regular-400 {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%Poppins-Regular-400 {
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%Poppins-Medium-500 {
  font-family: "Poppins-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%Poppins-SemiBold-600 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

%ProximaNova-Regular-400 {
  font-family: "ProximaNova-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}


